<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyfit.mapper.ReplyMapper">
	<insert id="insert">
		insert into TRAINERBOARD_REPLY(rno,tbno,rcontent,tno) 
		values(reply_seq.nextval,#{tbno},#{rcontent},#{tno})
	</insert>
	<select id="read" resultType="com.easyfit.domain.join.ReplyJoinVO">
		SELECT
		    rno, tbno, rcontent, t.tno, tname, rdate, rupdatedate, t.tid
		FROM
		    trainerboard_reply reply, trainer t, trainer_auth auth
		WHERE
		    reply.tno = t.tno
		    AND t.tid = auth.tid
		    AND rno = #{rno}
	</select>
	
	
	<delete id="delete">
		delete from TRAINERBOARD_REPLY where rno=#{rno}
	</delete>
	
	<update id="update">
		update TRAINERBOARD_REPLY set rcontent=#{rcontent}, rupdatedate = sysdate
		where rno=#{rno}
	</update>
	
	
<!-- 	<select id="getListWithPaging" resultType="com.easyfit.domain.ReplyVO">
		<![CDATA[
			select rno, tbno, rcontent, tno, rdate, rupdatedate
			from (select /*+INDEX(TRAINERBOARD_REPLY idx_REPLY_RNO_PK) */
				rownum rn, rno, tbno, rcontent, tno, rdate, rupdatedate
				from TRAINERBOARD_REPLY
				where tbno=#{tbno}
				and rno >0
				and rownum <= #{cri.pageNum} * #{cri.amount}
			) where rn > (#{cri.pageNum}-1)*#{cri.amount}
		]]>
	</select> -->
<select id="getCountByTbno" resultType="int">
	<![CDATA[
		select count(rno) from TRAINERBOARD_REPLY where tbno=#{tbno}
	]]>
</select>
	
<select id="getListWithPaging" resultType="com.easyfit.domain.join.ReplyJoinVO">
<![CDATA[
SELECT 
    rno, trb.tbno tbno, trb.rcontent rcontent, trb.tno tno, trb.rdate rdate, trb.rupdatedate rupdatedate, tr.tname tname, tid
FROM 
    (
        SELECT  /*+INDEX(TRAINERBOARD_REPLY idx_REPLY_RNO_PK) */
            rownum rn, trb.rno, trb.tbno, trb.rcontent, trb.tno, trb.rdate, trb.rupdatedate
        FROM 
            TRAINERBOARD_REPLY trb
        WHERE 
            tbno=#{tbno}
        AND 
            rno >0
        AND 
            rownum <= #{cri.pageNum} * #{cri.amount}
    ) trb
    INNER JOIN 
        trainer tr 
    ON
        tr.tno = trb.tno
WHERE 
	rn > (#{cri.pageNum}-1)*#{cri.amount}
]]>
</select>

</mapper>
