<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
	    	/WEB-INF/spring/security-context.xml<!-- security-context.xml 도 인식시키는 코드 -->
	    </param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	
	<!-- 파일 업로드 위한 코드 (appServlet이 코딩 되어 있는 servlet 태그 안에 넣어야 됨) -->
	<multipart-config>
		<location>C:\\upload\\temp</location>
		<max-file-size>20971520</max-file-size> <!--1MB * 20  /  파일 한 개의 최대 사이즈 -->
		<max-request-size>41943040</max-request-size><!-- 40MB  /  파일 총합의 최대 사이즈 -->
		<file-size-threshold>20971520</file-size-threshold> <!-- 20MB  / 메모리 관련 태그... max-file-size와 동일하게 맞춤 -->
	</multipart-config>
	
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 한글 깨짐 방지 코드 (spring security 코드보다 앞에 있어야 됨) -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
  	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
	<!-- /한글 깨짐 방지 코드 -->
	
	
	<!-- spring web security 환경설정 코드 -->
 	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern> <!-- url 주소를 입력해서 특정 주소에만 security 적용이 가능함 ex) /board/* -->
	</filter-mapping>

	<!-- /spring web security 환경설정 코드 -->
	

</web-app>
